.card {
    position: relative;
    left: 270px;
    top: 110px;
    display: inline-block;
    width: 100%;
    margin: 0 20px;
}

.card2 {
    position: relative;
    left: 270px;
    top: 110px;
    display: inline-block;
    margin: 20px;
}

.card3 {
    position: relative;
    left: 270px;
    top: 110px;
    display: inline-block;
    margin: 20px;
}

.card4 {
    position: relative;
    left: 270px;
    top: 110px;
    display: inline-block;
    margin: 20px;
    width: 1550px;
}

.typography{
    display: flex;
    position: relative;
}