@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'Esse artigo foi impresso atraves do site www.kalebzaki4.com';
}